*{
	margin: 0;
	padding: 0;
}
.test1{
	
	width: 60px;
	height: 50px;
	background: #92B901;
	border-radius: 5px;
	font-size: 25px;
	color: white;
	font-weight: bold;
	position: relative;
	 animation: mymove 4s infinite;
	 transform: rotate(0deg);
	 animation-timing-function: ease-in-out;


}


.test1>p{
	position: absolute;
	top: 10px;
	left: 5px;
}
@keyframes mymove {
  0% {left:0px;   }
  25%{left:0px;  transform: rotate(30deg); background: #22C7DF;}
  50% {left: 500px;  transform: rotate(0deg); background: #22C7DF; }
  100%{ left: 0px; transform: rotate(-360deg); background:  #92B901;}
}